		<footer class="page-footer" style = "background-color: #222; color: white;">

		  	<div class="container text-center text-md-left mt-5 pt-5">
		    	<div class="row">
			      	<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			        	<h6 class="text-uppercase font-weight-bold mb-4" style = "font-size: 2em;">Sahyog</h6>
			        	<p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
			          	consectetur
			          	adipisicing elit.</p>

			      	</div>

			      	<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4"  style = "display: inline-block;">
			          <h6 class="text-uppercase font-weight-bold mb-4">CONTACT</h6>
					        <p class = "mb-1">
					          <a>BH-3 LNMIIT JAIPUR, INDIA </a>
					        </p>
					        <p class = "mb-1">
					          <a><i class="fa fa-envelope"></i> imskoolwal@gmail.com</a>
					        </p>
					        <p class = "mb-1">
					          <a><i class="fa fa-phone-square"></i> +91-8385815304</a>
					        </p>
			    	</div>
			      
			      	<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
				        <h6 class="text-uppercase font-weight-bold mb-4">FOLLOW US</h6>
				        <a href="/"><i class = "fa fa-linkedin-square" style = "font-size: 1.5em;"></i></a>
				        <a href="/"><i class = "fa fa-github-square" style = "font-size: 1.5em;"></i></a>
				        <a href="/"><i class="fa fa-twitter-square" style = "font-size: 1.5em;"></i></a>
				        <a href="/"><i class="fa fa-facebook-square" style = "font-size: 1.5em;"></i></a>
				    </div>
				</div>
			</div>
			<div class="footer-copyright text-center py-3">© 2020 Copyright:
				<a href="https://mdbootstrap.com/">imskoolwal</a>
			</div></footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>	  	
	</body>
</html>