<%- include('partials/header'); -%>

<div class="container">
	<div class = "jumbotron">
		<h1 class = "display-4">SOS GUIDE: AVALANCHE</h1>
		<p class = "lead">What to do during an Avalanche?</p>
	</div>				
	
	<h4 align = "center"><strong>BEFORE AN AVALANCHE</strong></h4>
	<div class = "random">
		<p>
			<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
				<li>Push machinery, equipment or heavy objects away from you to avoid injury. </li>
				<li>Grab onto anything solid (trees, rocks, etc.) to avoid being swept away.</li>
				<li>Keep your mouth closed and your teeth clenched. </li>
				<li>If you start moving downward with the avalanche, stay on the surface using a swimming motion. </li>
				<li>Try to move yourself to the side of the avalanche. </li>
			</ul>
		</p>
	</div>

	<h4 align = "center"><strong>DURING A AVALANCHE</strong></h4>
	<div class="random">
		<p>
			<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
				<li>Push yourself towards the surface. </li>
				<li>Make an air pocket in front of your face using one arm. </li>
				<li>Push the other arm towards the surface. </li>
			</ul>
		</p>
	</div>

	<h4 align = "center"><strong>AFTER A AVALANCHE</strong></h4>
	<div class="random">
		<p>
			<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
				<li>Dig yourself out, if possible. </li>
				<li>Relax your breathing, particularly if you cannot dig yourself out. </li>
				<li>Stay calm and shout only when a searcher is near. </li>
			</ul>
		</p>
	</div>
</div>

<%- include('partials/footer'); -%>