<%- include('partials/header'); -%>

<div class="container mb-5">

    <div class="row mt-5">
        <div class="col-md-7 mb-4">
            <img src="https://media.istockphoto.com/photos/power-of-nature-avalanche-in-the-caucasus-picture-id611611734?b=1&k=6&m=611611734&s=170667a&w=0&h=QFbQxDW13cAEDVv-fUU5VAqd4vBYY90-s_9oA2RZEuY=" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF AVALANCHE</h2>
            <hr>
            <a href="/avalanche" class="btn btn-primary">AVALANCHE</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://images.unsplash.com/photo-1545276070-ec815f01c6ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF FLOOD</h2>
            <hr>
            <a href="/flood" class="btn btn-primary">FLOOD</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://media.istockphoto.com/photos/damaged-asphalt-road-picture-id1152751470?b=1&k=6&m=1152751470&s=170667a&w=0&h=127sFz76agc-zxCkp1YrG3xHWxYm8lJP995TRed-7QE=" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF EARTHQUAKE</h2>
            <hr>
            <a href="/earthquake" class="btn btn-primary">EARTHQUAKE</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://images.unsplash.com/photo-1516537219851-920e2670c6e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF VOLCANIC ERUPTION</h2>
            <hr>
            <a href="/volcano" class="btn btn-primary">VOLCANIC ERUPTION</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://cdn.pixabay.com/photo/2012/10/26/00/40/cyclone-62957__340.jpg" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF CYCLONE</h2>
            <hr>
            <a href="/cyclone" class="btn btn-primary">CYCLONE</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://media.istockphoto.com/photos/rockfall-on-a-spanish-highway-picture-id1188804766?b=1&k=6&m=1188804766&s=170667a&w=0&h=YkuseGMyDbOUfq0f7r2RkVXbnUMZCw0PE23XJibPnLc=" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF LANDSLIDE</h2>
            <hr>
            <a href="/landslide" class="btn btn-primary">LANDSLIDE</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://media.istockphoto.com/photos/white-snowplow-service-truck-with-orange-lights-and-yellow-plow-blade-picture-id1093336802?b=1&k=6&m=1093336802&s=170667a&w=0&h=2vGHO5OvZaNUyvYCQLkrRBDR_EzujQ4OqbnBlrMK7dE=" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF BLIZZARD</h2>
            <hr>
            <a href="/blizzard" class="btn btn-primary">BLIZZARD</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 mb-4">
            <img src="https://cdn.pixabay.com/photo/2016/10/13/12/12/wave-1737605__340.jpg" class="card-img-top" alt="">
        </div>

        <div class="col-md-5 mb-4">
            <h2>WHAT TO DO IN CASE OF TSUNAMI</h2>
            <hr>
            <a href="/tsunami" class="btn btn-primary">TSUNAMI</a>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>


<!-- <div class = "container" style = "margin-top: 10%; margin-left: auto; margin-right: auto;">

    <div class = "row mb-5 d-flex justify-content-around">
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1582501929835-c004cf990e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF AVALANCHE</h5>
                    
                    <a href="/avalanche" class="btn btn-primary">AVALANCHE</a>
                </div>
            </div>
        </div>
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1545276070-ec815f01c6ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF FLOOD</h5>
                    
                    <a href="/flood" class="btn btn-primary">FLOOD</a>
                </div>
            </div>
        </div>

    </div>

    <div class = "row mb-5 justify-content-around">
        <div class = "col-md-6 col-sm-12">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1582501929835-c004cf990e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF AVALANCHE</h5>
                    
                    <a href="/avalanche" class="btn btn-primary">AVALANCHE</a>
                </div>
            </div>
        </div>
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1545276070-ec815f01c6ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF FLOOD</h5>
                    
                    <a href="/flood" class="btn btn-primary">FLOOD</a>
                </div>
            </div>
        </div>

    </div>

    <div class = "row mb-5 d-flex justify-content-around">
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1582501929835-c004cf990e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF AVALANCHE</h5>
                    
                    <a href="/avalanche" class="btn btn-primary">AVALANCHE</a>
                </div>
            </div>
        </div>
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1545276070-ec815f01c6ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF FLOOD</h5>
                    
                    <a href="/flood" class="btn btn-primary">FLOOD</a>
                </div>
            </div>
        </div>

    </div>
    <div class = "row mb-5 justify-content-around">
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1582501929835-c004cf990e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF AVALANCHE</h5>
                    
                    <a href="/avalanche" class="btn btn-primary">AVALANCHE</a>
                </div>
            </div>
        </div>
        <div class = "col-md-6 col-sm-12 mb-5">
            <div class="card" style="width: 30rem;">
               <img class="card-img-top" src="https://images.unsplash.com/photo-1545276070-ec815f01c6ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
               <div class="card-body">
                    <h5 class="card-title">WHAT TO DO IN CASE OF FLOOD</h5>
                    
                    <a href="/flood" class="btn btn-primary">FLOOD</a>
                </div>
            </div>
        </div>

    </div>
    
</div>

 -->