<%- include('partials/header'); -%>

<div class="container">
	<div class = "jumbotron">
		<h1 class = "display-4">SOS GUIDE: VOLCANIC ERUPTION</h1>
		<p class = "lead">What to do before, during and after VOLCANIC ERUPTION?</p>
	</div>				
	<h4 align = "center"><strong>BEFORE A VOLCANIC ERUPTION</strong></h4>
	<div class = "random">
		<p>
			<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
				<li>Each one should be aware of the dangers that volcanic eruptions pose to lives and be prepared to face whatever circumstances the eruption may bring.</li>

				<li>Prepare all necessary things to bring once evacuation is needed. Those in danger zones are warned when to evacuate. Once given the signal refrain from saying you will be all right. Refusing to evacuate will pose more serious problems.</li>

				<li>Store as much food, water, light sources and batteries that are very useful in case of emergency.</li>
				<li>Volcanic eruptions have ash falls so be prepared for masks or anything to cover nose and mouth.</li>
				<li>Prioritize the safety of kids before other things. If you have relatives or friends who are far from the volcano, take your children there until such time that your place is safe.</li>
			</ul>
		</p>
	</div>

	<h4 align = "center"><strong>DURING A VOLCANIC ERUPTION</strong></h4>
	<div class = "random">
		<p>
			<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
				<li>Avoid all low-lying places because lava flows and mudflows are more likely to pass here.</li>

				<li>Seek cover in case of ash falls rock falls.</li>
				
				<li>Use masks and cover your mouth and nose to avoid breathing in ashes.</li>
				
				<li> If you are inside a house; close all doors and windows to avoid ashes from getting inside.</li>
				
				<li>Always stay indoors.</li>
				
				<li>Stay in the evacuation center until further instructions. Do not attempt to leave the place unless told to do.</li>
			</ul>
		</p>
	</div>

	<h4 align = "center"><strong>AFTER A VOLCANIC ERUPTION</strong></h4>
	<div class = "random">
		<p>
			<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
				<li>Go back to your house but leave the kids behind someone who can take care of them while you check your house.</li>

				<li>Clean everything around and check all damages incurred.</li>
				
				<li>Use masks while cleaning ash and other debris.</li>
				
				<li>Wait for further announcements related to the volcano activities.</li>
				
				<li>Make sure that your house is still safe for all of you.</li>
				
			</ul>
		</p>		
	</div>
</div>

<%- include('partials/footer'); -%>